<div class="column">
  <nav class="panel">
    <p class="panel-heading">Secret Post Club Rules</p>

    <div class="panel-block">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Rule #1:</strong>
              <small>You do not talk about post club...</small>
            </p>
          </div>
          <div class="content">
            <p>
              <strong>Rule #2:</strong>
              <small>YOU DO NOT TALK ABOUT POST CLUB.</small>
            </p>
          </div>
          <div class="content">
            <p>
              <strong>Rule #3:</strong>
              <small> You press Create, Edit, or Delete, Post is over.</small>
            </p>
          </div>
          <div class="content">
            <p>
              <strong>Rule #4:</strong>
              <small>Only one user in a Post.</small>
            </p>
          </div>
          <div class="content">
            <p>
              <strong>Rule #5:</strong>
              <small>One Post at a time Fellas.</small>
            </p>
          </div>
          <div class="content">
            <p>
              <strong>Rule #6:</strong>
              <small>No links, no images.</small>
            </p>
          </div>
          <div class="content">
            <p>
              <strong>Rule #7:</strong>
              <small>Posts will go on as long as they have to.</small>
            </p>
          </div>
          <div class="content">
            <p>
              <strong>Rule #8:</strong>
              <small>If this is your first night at post club, you have to Post.</small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </nav>
</div>
