<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
      <%= render 'profiles' %>
      <% else %>
      <%= render 'notlogged' %>
      <% end %>
      <%= render 'feed' %>
      <%= render 'rules' %>
    </div>
  </div>
</section>
