<section class="section">
  <div class="container">
    <div class="columns"> <!-- Helper aca -->
      profiles_helper
      <%= render 'feed' %>
      <%= render 'rules' %>
    </div>
  </div>
</section>
